<nav>
   <i class='bx bx-menu' ></i>
   <a href="#index"><img src="src/assets/images/general/escudo-boca.png" alt="Escudo de Boca Juniors"></a>
   <ul>
      <li><a href="#index">Inicio</a></li>
      <li><a href="#club">Club</a></li>
      <li><a href="#idols">Idolos</a></li>
      <li><a href="#trophies">Títulos</a></li>
      <li><a href="##">Bombonera</a></li>
   </ul>
   <div class="social-links">
      <a href="https://twitter.com/BocaJrsOficial" target="_blank" rel="noopener noreferrer"><i class='bx bxl-twitter'></i></a>
      <a href="https://www.instagram.com/bocajrs/" target="_blank" rel="noopener noreferrer"><i class='bx bxl-instagram'></i></a>
  </div>
</nav>

<style>
   nav{
      width: 90%;
      max-width: 900px;
      color: var(--blue-primary);
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      padding: 1rem 0rem;
   }
   nav .bx-menu{
      font-size: 2.5rem;
      cursor: pointer;
   }
   nav img{
     display: none;
   }
   nav ul{
      display:none
   }
   .social-links a{
      color: #fff;
      margin-left: 0.5rem;
   }
   .social-links a i{
      background-color: var(--blue-primary);
      font-size: 1.85rem;
      padding: 0.3rem;
      border-radius: 6px;
      transition: all 0.2s ease;
   }
   .social-links a i:hover{
      background-color: var(--blue-secondary);
      color: var(--yellow-primary);
      transform: translateY(-4px);
   }
   @media (min-width: 768px){
      nav .bx-menu{
         display: none;
      }
      nav img{
         display: block;
         width: 55px;
         object-fit: cover;
         transition: all 0.15s ease;
      }
      nav img:hover{
         transform: translateY(-2.5px);
      }
      nav ul{
         display: flex;
         justify-content: center;
         list-style: none;
         padding: 0;
      }
      nav ul li{
         margin-left: 0.5rem;
      }
      nav ul li a{
         font-size: 1rem;
         color: var(--blue-primary);
         text-decoration: none;
         text-transform: uppercase;
         padding: 0.4rem 0.8rem;
         border-radius: 15px;
         transition: all 0.2s ease;
         position: relative;
      }
      nav ul li a::after{
         content: '';
         position: absolute;
         top: -17px;
         left: calc(50% - 2.5px);
         width: 5px;
         height: 5px;
         border-radius: 50%;
         background-color: var(--yellow-secondary);
         transition: width 0.3s;
         opacity: 0;
         transition: all 0.2s ease;
      }
      nav ul li a:hover{
         color: var(--yellow-secondary);
      }
      nav ul li a:hover::after{
         top: -7px;
         opacity: 1;
      }
   }
</style>